@if (TempData["success"] != null)
{
    <div class="my-3 alert alert-success">
        <p>@TempData["success"]</p>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="my-3 alert alert-danger">
        <p>@TempData["error"]</p>
    </div>
}
